   @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

   * {
       box-sizing: border-box;
   }

   body {
    background: url('../media/images/eventbg2-01-02.png');
       background-color: black;
     background-attachment: fixed;
       background-size: cover;
       overflow-x: hidden;
       height: 100vh;
       font-family: 'Muli', sans-serif;
   }
   .title {
    font-size: 100px;
    font-weight: 800;
   
    
    position: relative;
    overflow: hidden;
    
    /* margin-top: 30px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
   letter-spacing: 7px;
    font-family: bodoni;
      background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 40%, #8A6E2F 50%, transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #FFFFFF 10%, #FFFFAC 5%, #D1B464 70%, #5d4a1f 90%, #5d4a1f 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
  }
  @media only screen and (max-width: 600px){
    .title{
      margin-top: 30px;
      font-size: 40px;
     
    }
  }
  

    h1 {
       margin: 50px 0 30px;
       text-align: center;
   } 

   .faqs-container {
       margin: 0 auto;
       max-width: 80%;
   }

   .faq {
       background-color: transparent;
       border: 1px solid #ffffff;
       border-radius: 10px;
       padding: 30px;
       position: relative;
       overflow: hidden;
       margin: 20px 0;
       transition: 0.3s ease;
       font-family: bodoni;
       @media only screen and (max-width: 600px){
        font-size: 15px;
      }
    }

   .faq.active {
       background-color: #fff;
       box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
   }

   /* .faq.active::after,
   .faq.active::before {
       color: #2ecc71;
       content: '\f075';
       font-family: 'Font Awesome 5 Free';
       font-size: 7rem;
       position: absolute;
       opacity: 0.2;
       top: 20px;
       left: 20px;
       z-index: 0;
   } */

   /* .faq.active::before {
       color: #3498db;
       top: -10px;
       left: -30px;
       transform: rotateY(180deg);
   } */


  .title1 {
    font-size:80px;
  
    font-weight: 200;
    letter-spacing: var(--ls);
    position: relative;
    overflow: hidden;
    /* background: var(--bg); */
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: bodoni;
    letter-spacing: 7px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 40%, #8A6E2F 50%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 10%, #FFFFAC 5%, #D1B464 70%, #5d4a1f 90%, #5d4a1f 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
  }
  @media only screen and (max-width: 600px){
    .title1{
      margin-top: 30px;
      font-size:40px;
    }
  }
  
   .faq-title {
       margin: 0 35px 0 0;
    
   }

   .faq-text {
       display: none;
       margin: 30px 0 0;
   }

   .faq.active .faq-text {
       display: block;
   }

   .faq-toggle {
       background-color: transparent;
       border: none;
       border-radius: 50%;
       color: #fff;
       cursor: pointer;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 16px;
       padding: 0;
       position: absolute;
       top: 30px;
       right: 30px;
       height: 30px;
       width: 30px;
   }
   .faq-toggle:hover{
    color: black;
   }

   .faq-toggle:focus {
       outline: none;
   }

   .faq.active .faq-toggle {
       background-color: #ffffff;
   }

   .faq-toggle .fa-times {
       display: none;
   }

   .faq.active .faq-toggle .fa-times {
       display: block;
   }

   .faq-toggle .fa-chevron-down {
       color: #ffffff;
   }

   .faq.active .faq-toggle .fa-chevron-down {
       display: none;
   }

   .about{
    font-size:25px;
   margin-bottom:15px;
   color:#d5d5d5;
   display: flex;
   justify-content:center;
   align-items: center;
   padding: 5px;
   padding-left: 5vw;
    padding-right: 5vw;
   text-align: center;
   font-family: bodoni;
  padding-left: 5vw;
  padding-right: 5vw;
   }
        @media only screen and (max-width: 600px) {
          .about{
          font-size: 15px;
          }
        }
   .video{
    width: 80%;
    height: 80%;
   }

  .container-fluid{
    width: 1024px;
    padding: 30px;
    padding-top: 50px;
  }