

body{
  /* background-image: url(../media/images/eventbg.jpg);
  background-size: cover;
  background-repeat: repeat; */
  /* height: 100%; */

  min-height: 100vh;
   display: grid; 
   background: url('../media/images/eventbg2-01-02.png');
   background-size: cover;
   background-repeat: repeat;
background-attachment: fixed;
   background-color: black;
  height: 100vh;
  margin: 0rem;
  overflow-x: hidden;
}

.col-md-6 h1{
  font-size: 80px;
  font-weight: 800;
 
  
  position: relative;
  overflow: hidden;
  
  /* margin-top: 30px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
 letter-spacing: 0px;
  font-family: bodoni;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 5%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 100%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 100%, #5d4a1f 100%, #5d4a1f 10%);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
  
  /*Team Section CSS*/
  .team-1-wrap{
      position: relative;
      z-index: 1;
      overflow: hidden;
      text-align: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: start;
      /* align-items: flex-start; */
  }
  
  .team-img{
    position: relative;
      overflow: hidden;
      border-radius: 25px;
  }
  .team-img:before{
      content: "";
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
      /* background-image: linear-gradient(to right, #434343 0%, black 10%); */
     /* background-image: linear-gradient(to left top, rgba(123, 27, 174, 0.7), rgba(117, 50, 194, 0.74), rgba(107, 68, 213, 0.8), rgba(91, 84, 233, 0.85), rgba(66, 100, 251, 0.95)); */
      position: absolute;
      opacity: 0.8;
      top: 50%;
      left: 50%;
      z-index: 2;
      width: 0;
      height: 0;
      padding: 25%;
      border-radius: 50%;
      transition: opacity .3s ease-out, -webkit-transform .3s ease;
      transition: transform .3s ease, opacity .3s ease-out;
      transition: transform .3s ease, opacity .3s ease-out, -webkit-transform .3s ease;
      will-change: opacity, transform;
      opacity: 0;
      -webkit-transform: translate(-50%, -50%) scale(0);
      transform: translate(-50%, -50%) scale(0);
  
  }
  
  
  .team-overly-content{
     width: 100%;
      height: 100%;
      box-sizing: border-box;
      opacity: 0;
      will-change: opacity;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: center;
      justify-content: center;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
  }
  .team-1-wrap:hover .team-overly-content{
    opacity: 1;
      height: 100%;
      transition: opacity 0.4s cubic-bezier(0.71, 0.05, 0.29, 0.9) 0.2s;
  }
  .team-1-wrap:hover .team-img:before {
        opacity: 1;
      -webkit-transform: translate(-50%, -50%) scale(4);
      transform: translate(-50%, -50%) scale(4);
      transition-duration: .6s;
  }
  .team-img img{
    transition: all 0.3s ease-in;
  }
  .team-1-wrap:hover .team-img img{
  -webkit-transform: scale(1.2);
      transform: scale(1.2);
  }
  .team-overly-content ul li a{
    box-sizing: border-box;
      width: 35px;
      height: 35px;
      line-height: 25px;
      padding: 5px;
      background-color: #fff;
      border-radius: 100%;
      margin: 4px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
  }
  .team-info{
      display: block;
      text-align: center;
      width: 100%;
      padding: 15px;
  }
  .team-info h4{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
    color: white;
  }
  .team-info p{
    color: black;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
    color: white;
  }

  
    .grp-img{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 30px;
    margin-right: 17px;
  }  

  .row_heading h1{
    font-size:80px;
 
    font-weight: 200;
    /* letter-spacing: var(--ls); */
    position: relative;
    overflow: hidden;
    /* background: var(--bg); */
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: bodoni;
    letter-spacing: 7px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 5%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 100%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 100%, #5d4a1f 100%, #5d4a1f 10%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
  }

  @media screen and (max-width: 500px) {

    .col-md-6 h1{
      margin-top: 30px;
      font-size: 40px;
    }
    .team-img{
      height: 200px;
      width: 180px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

      /* .team-overly-content{
         margin-left: 80px; 
        
      } */

      .team-img:before{
        content: "";
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
       /* background-image: linear-gradient(to left top, rgba(123, 27, 174, 0.7), rgba(117, 50, 194, 0.74), rgba(107, 68, 213, 0.8), rgba(91, 84, 233, 0.85), rgba(66, 100, 251, 0.95)); */
        position: absolute;
        opacity: 0.8;
        top: 50%;
        left: 50%;
        z-index: 2;
        width: 0;
        height: 0;
        padding: 25%;
        border-radius: 50%;
        transition: opacity .3s ease-out, -webkit-transform .3s ease;
        transition: transform .3s ease, opacity .3s ease-out;
        transition: transform .3s ease, opacity .3s ease-out, -webkit-transform .3s ease;
        will-change: opacity, transform;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
       
    
    }
    .row_heading h1{
      margin-top: 30px;
      font-size:40px;
      letter-spacing: 1px;
    }
    .team-1-wrap{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    
  }